.create_link {
  width: fit-content;
  margin: 1rem;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--divider);
}

.list_item {
  padding: 1rem 1rem 1rem 0;
  border-bottom: 1px solid var(--divider);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.list_item__link {
  display: block;
  padding-left: 1rem;
  height: inherit;
  width: 100%;
  display: flex;
  align-items: center;
}

.list_item__link:is(:hover, :focus) {
  background-color: #f9f9f9;
}

.list_item__actions {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
}
